<header class="bg-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 d-flex justify-content-between pt-3 pb-3">
                <a href="/" class="linkHome font-weight-bold">Ticketac</a>
                <div>
                    <a href="/" class="text-danger font-weight-bold">Connection</a>
                    <a href="/journeys/historics" class="ml-2 font-weight-bold">My last trips</a>
                </div>
            </div>
        </div>
    </div>
</header>