<header class="bg-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 d-flex justify-content-between pt-3 pb-3">        
                <% if (sessionUser !== undefined) { %>
                    <a href="/home" class="linkHome font-weight-bold">Ticketac</a>
                    <div>
                        <a href="/users/logout" class="text-danger font-weight-bold">Logout</a>
                        <a href="/journeys/historics" class="ml-2 font-weight-bold">My last trips</a>
                    </div>
                <% } else { %>
                    <div class="linkHome font-weight-bold">Ticketac</div>
                <% } %>
            </div>
        </div>
    </div>
</header>